/*
 * 0 - Reset style / Normalize
 */
 /* Allows to set the real size of a box */
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
iframe {
	border:none;
}


/*
 * 1 - Utils
 */
 /* Clearfix is used for blocks that contain floats */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/*
 * 2 - Components
 */
 /* Pure css modal @see tympanus.net/codrops/2013/11/07/css-overlay-techniques/ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.modal {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    border-radius: 5px;
    text-align: center;
    z-index: 11;
}

/*
 * 3 - Global
 */
.container {
	width: 400px;
	margin: 0 auto;
}
.row {
}
.cell {
	width:100px;
	height:100px;
	float : left;
	border:1px solid gray;
}
.tile{
	display:block;
	height:100%;
	cursor:move;
	border-radius: 5px;
	background-clip: padding-box;
	border:1px outset rgb(255, 255, 255);
}
.accept-drop{
	border:2px dashed black;
}
